@import url(https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap);

body {
	font-family: 'New Tegomin', serif;
	font-size: 20px;
	background-color: black;
}

/* .boxes {
	display: grid;
	grid-template-columns: auto auto auto auto;
	text-align: center;
	justify-content: space-evenly;
} */
